<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Still Moment needs permission to notify you when your meditation session is complete.</string>
	<key>NSPrivacyPolicyURL</key>
	<string>https://stillmoment.app/privacy.html</string>
	<key>NSHumanReadableContactURL</key>
	<string>https://stillmoment.app/support.html</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
